{% extends 'base.html' %}

{% block content %}

<style>
  .table-striped > tbody > tr:nth-child(odd) > td, 
  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e2f0ff; /* azul suave */
  }
</style>

{% if user.is_authenticated and request.user.userprofile.user_type == 'professional' %}

{% if latest_question_list %}
    
<table class="table table-striped">
  <thead>
    <tr>
      <th>Spectra</th>
      <th>Subfator</th>
      <th>Scale</th>
      <th>Pergunta</th>
    </tr>
  </thead>
  <tbody>
    {% for question in latest_question_list %}
      <tr>
        <td>{{ question.spectra }}</td>
        <td>{{ question.subfactor }}</td>
        <td>{{ question.scale }}</td>
        <td>{{ question.item_code }}</td>
        <td class="text-wrap">{{ question.question_text }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
    <p>No questions are available.</p>
{% endif %}

{% endif %}

{% endblock %}