{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div>

    <h2>Novo paciente e aplicação HiTOP</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}

            <div
                style="
                    color:#666;
                    font-size:.9rem;
                    margin-top:8px;
                "
            >
                Por motivos de privacidade, não inclua na descrição da aplicação quaisquer dados que permitam identificar o paciente.
            </div>
        </div>

        <div class="mb-4">

            <label
                style="
                    display:block;
                    font-weight:500;
                    margin-bottom:10px;
                "
            >
                {{ form.simulation_mode.label }}
            </label>

            {% for radio in form.simulation_mode %}
                <div class="form-check">
                    {{ radio.tag }}
                    <label
                        class="form-check-label"
                        for="{{ radio.id_for_label }}"
                    >
                        {{ radio.choice_label }}
                    </label>
                </div>
            {% endfor %}

            <div
                style="
                    color:#666;
                    font-size:.9rem;
                    margin-top:8px;
                "
            >
                Utilize um modo de simulação para gerar automaticamente respostas de teste.
            </div>

        </div>

        <div class="mb-4">

            <label class="form-label">
                Módulos a incluir:
            </label>

            {% for checkbox in form.spectra %}
                <div class="form-check">
                    {{ checkbox.tag }}
                    <label
                        class="form-check-label"
                        for="{{ checkbox.id_for_label }}"
                    >
                        {{ checkbox.choice_label|translate_spectrum }}
                    </label>
                </div>
            {% endfor %}

        </div>

        <button
            type="submit"
            class="btn rounded-0"
            style="
                background-color:#e2f0ff;
                color:#000;
                border:1px solid #9ec9ff;
                padding:.5rem 1rem;
            "
        >
            Criar registo
        </button>

    </form>

</div>

{% endblock %}
