{% extends 'base.html' %} 

{% block content %}

{% if user.is_authenticated %}

{% else %}

<div class="col-md-6 offset-md-3">
    <h2>Login</h2>
  </br>

    <form method="POST" action="{% url 'website:home'%}">
      {% csrf_token %}
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
        </div>
      </br>
        <button type="submit" cclass="btn btn-sm rounded-0"
          style="background-color: #e2f0ff; color: #000; 
          border: 1px solid #9ec9ff; padding: 0.5rem 1rem;">Login</button>
    </form>
</div>

{% endif %}

{% endblock %}

