{% extends "base.html" %}

{% block content %}
<h2>Meus Pacientes</h2>

<ul class="list-group rounded-0">
  {% for patient in patients %}
    <li class="list-group-item d-flex align-items-center">
      <!-- Nome do paciente -->
      <span>{{ patient.user.username }}</span>

      <!-- Botões alinhados à direita -->
      <div class="ms-auto d-flex gap-2">

        <a href="{% url 'website:patient_submissions' patient.user.id %}" 
           class="btn btn-sm btn-primary rounded-0" 
           style="background-color: #e2f0ff; color: #000; border: 1px solid #9ec9ff;">
          Ver respostas
        </a>

        <a href="{% url 'polls:export_patient_pdf' patient.user.id %}" 
           class="btn btn-sm btn-secondary rounded-0"
           style="background-color: #e2f0ff; color: #000; border: 1px solid #9ec9ff;">
          PDF
        </a>

        <a href="{% url 'website:edit_patient' patient.id %}"
            class="btn btn-sm btn-secondary rounded-0"
            style="background-color: #e2f0ff; color: #000; border: 1px solid #9ec9ff;">
            Editar
        </a>

        {% if patient.questionnaire_completed %}
        <a href="{% url 'website:reopen_questionnaire' patient.id %}"
            class="btn btn-sm btn-warning rounded-0"
            style="background-color: #ffe2e2; color: #000; border: 1px solid #ff9e9e;">
            Reabrir questionário
        </a>
        {% endif %}

      </div>
    </li>
  {% empty %}
    <li class="list-group-item">Nenhum paciente associado.</li>
  {% endfor %}
</ul>

<br>

<!-- Botão flutuante para criar novo paciente -->
<a href="{% url 'website:create_patient' %}" 
   class="btn btn-sm rounded-0"
   style="background-color: #e2f0ff; color: #000; 
          border: 1px solid #9ec9ff; padding: 0.5rem 1rem;">
    Criar registro de paciente
</a>

{% endblock %}