{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<div>

    <h2>Nova Aplicação HiTOP</h2>

    <p>
        Paciente:
        <strong>{{ patient.user.username }}</strong>
    </p>

    <form method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">

            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}

            <div
                style="
                    color:#666;
                    font-size:.9rem;
                    margin-top:8px;
                "
            >
                Por motivos de privacidade, não inclua na descrição da aplicação quaisquer dados que permitam identificar o paciente.
            </div>

        </div>

        {% include "website/_simulation_options.html" %}

        <div class="mb-4">

            <label class="form-label">{{ form.spectra.label }}</label>
            {% for checkbox in form.spectra %}
                <div class="form-check">
                    {{ checkbox.tag }}
                    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                        {{ checkbox.choice_label|translate_spectrum }}
                    </label>
                </div>
            {% endfor %}
            {{ form.spectra.errors }}

        </div>

        <button
            type="submit"
            class="btn rounded-0"
            style="
                background:#e2f0ff;
                color:#000;
                border:1px solid #9ec9ff;
            "
        >
            Criar aplicação
        </button>

    </form>

</div>

{% endblock %}
