{% extends "base.html" %}

{% block content %}

<style>
  .table-striped > tbody > tr:nth-child(odd) > td, 
  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e2f0ff; /* azul suave */
  }
</style>


<h2>Respostas de {{ patient.username }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Spectra</th>
      <th>Subfactor</th>
      <th>Scale</th>
      <th>Pergunta</th>
      <th>Resposta</th>
    </tr>
  </thead>
  <tbody>
    {% for answer in answers %}
      <tr>
        <td>{{ answer.question.spectra }}</td>
        <td>{{ answer.question.subfactor }}</td>
        <td>{{ answer.question.scale }}</td>
        <td>{{ answer.question.item_code }}</td>
        <td>{{ answer.question.question_text }}</td>
        <td>{{ answer.get_answer_display }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">Nenhuma resposta registrada.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}