{% extends "base.html" %}

{% block content %}
<h2>Respostas de {{ patient.username }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Escala</th>
      <th>Subescala</th>
      <th>Item #</th>
      <th>RK</th>
      <th>Pergunta</th>
      <th>Resposta</th>
    </tr>
  </thead>
  <tbody>
    {% for answer in answers %}
      <tr>
        <td>{{ answer.question.scale }}</td>
        <td>{{ answer.question.subscale }}</td>
        <td>{{ answer.question.item_code }}</td>
        <td>{{ answer.question.rk }}</td>
        <td>{{ answer.question.question_text }}</td>
        <td>{{ answer.get_answer_display }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">Nenhuma resposta registrada.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}