{% extends "base.html" %}

{% block content %}

<h3>Submissões de {{ patient.username }}</h3>

{% for s in submissions %}
    <div style="
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 10px;
    ">

        Título:
        <strong>{{s.title}}</strong>
        <br>

        <input
            type="hidden"
            id="link-{{ s.id }}"
            value="{{ s.access_link }}"
        >

        Data: {{ s.started_at|date:"d/m/Y H:i" }}<br>

        Estado:
        {% if s.completed %}
            <span style="color: green;">Finalizado</span>
        {% else %}
            <span style="color: orange;">Em progresso</span>
        {% endif %}

        <br>

        <div class="mt-2">

            <button
                type="button"
                onclick="copyLink('link-{{ s.id }}')"
                class="btn btn-sm btn-secondary rounded-0"
                style="background-color: #e2f0ff; color: #000; border: 1px solid #9ec9ff;"
            >
                Copiar link
            </button>

            <a href="{% url 'website:patient_answers' s.id %}"
                class="btn btn-sm btn-secondary rounded-0"
                style="background-color: #e2f0ff; color: #000; border: 1px solid #9ec9ff;">
                Ver respostas completas
            </a>

        </div>

    </div>
{% empty %}
    <p>Este paciente ainda não tem submissões.</p>
{% endfor %}

{% if not has_open_submissions %}
<a href="{% url 'website:new_questionnaire' patient.userprofile.id %}"
    class="btn btn-sm btn-warning rounded-0"
    style="background-color: #ffe2e2; color: #000; border: 1px solid #ff9e9e;">
    Criar nova submissão
</a>
{% endif %}

<script>

function copyLink(inputId) {
    const input = document.getElementById(inputId);
    navigator.clipboard.writeText(input.value);
    alert("Link copiado para a área de transferência.");
}
</script>

{% endblock %}